Day 2 â€“ Python Collections: List, Tuple, Dictionary

In [ ]:
# LISTS
list1 = [0, 1, 2, 3, 4, 5]
print("List:", list1)
print("Slicing [:4]:", list1[:4])

List: [0, 1, 2, 3, 4, 5]
Slicing [:4]: [0, 1, 2, 3]

In [ ]:
list1 = [1, 2, "Python", "Program", 15.9]
list2 = ["Amy", "Ryan", "Henry", "Emma"]
print(list1)
print(list2)
print("Types:", type(list1), type(list2))
print("Are lists equal?", list1 == list2)

[1, 2, 'Python', 'Program', 15.9]
['Amy', 'Ryan', 'Henry', 'Emma']
Types: <class 'list'> <class 'list'>
Are lists equal? False

In [13]:
# Employee data example
emp = ["john", 102, "USA"]
Dep1 = ["CS", 10]
Dep2 = ["IT", 11]
HOD_CS = [10, "Holding"]
HOD_IT = [11, "Bewon"]

print("Employee:", emp)
print("Departments:", Dep1, Dep2)
print("CS HOD:", HOD_CS)
print("IT HOD:", HOD_IT)

# Indexing and slicing
print(list1[4])
print(list1[-1])
print(list1[-3:])
print(list1[:-1])
print(list1[-3:-1])

Employee: ['john', 102, 'USA']
Departments: ['CS', 10] ['IT', 11]
CS HOD: [10, 'Holding']
IT HOD: [11, 'Bewon']
500
500
[300, 400, 500]
[100, 200, 300, 400]
[300, 400]

In [3]:
# List Operations
list1 = [12, 14, 16, 28, 20]
print("Repetition:", list1 * 2)

list2 = [9, 10, 32, 54, 86]
print("Concatenation:", list1 + list2)
print("Length:", len(list1 + list2))

print("Iteration:")
for i in list1:
    print(i)

Repetition: [12, 14, 16, 28, 20, 12, 14, 16, 28, 20]
Concatenation: [12, 14, 16, 28, 20, 9, 10, 32, 54, 86]
Length: 10
Iteration:
12
14
16
28
20

In [4]:
# Membership
list1 = [100, 200, 300, 400, 500]
print(600 in list1)
print(700 in list1)
print(1040 in list1)
print(300 in list1)
print(100 in list1)
print(500 in list1)

False
False
False
True
True
True

In [5]:
# User input into list
l = []
n = int(input("Enter the number of elements in the list: "))
for i in range(n):
    l.append(input("Enter the element: "))
print("List contents:")
for i in l:
    print(i, end=" ")

Enter the number of elements in the list: 2
Enter the element: 6
Enter the element: 5
List contents:
6 5

In [6]:
# TUPLES
coral = ('blue coral', 'staghorn coral', 'pillar coral', 'elkhorm coral')
print("Tuple:", coral)
print("Access:", coral[2])
print("Reef:", coral[1])
print("Slice:", coral[:3])
print("Negative slice:", coral[-3:-1])

Tuple: ('blue coral', 'staghorn coral', 'pillar coral', 'elkhorm coral')
Access: pillar coral
Reef: staghorn coral
Slice: ('blue coral', 'staghorn coral', 'pillar coral')
Negative slice: ('staghorn coral', 'pillar coral')

In [ ]:
numbers = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12)
print("Odd Index:", numbers[1:11:2])
print("Concatenated:", coral + numbers)
print("Repeated:", numbers * 3)

In [7]:
my_tuple = (1, 2, 3, 4, 2, 4, 2)
print("Count of 2:", my_tuple.count(2))
print("Index of 4:", my_tuple.index(4))
print("Length:", len(my_tuple))
print("Sorted:", sorted(my_tuple))
print("Min:", min(my_tuple))
print("Max:", max(my_tuple))

Count of 2: 3
Index of 4: 3
Length: 7
Sorted: [1, 2, 2, 2, 3, 4, 4]
Min: 1
Max: 4

In [8]:
# Convert list to tuple
my_list = [1, 2, 3, 'a', 'b', 'c']
my_tuple = tuple(my_list)
print("Converted to tuple:", my_tuple)

Converted to tuple: (1, 2, 3, 'a', 'b', 'c')

In [9]:
# DICTIONARY
d1 = {"Maharashtra": "Mumbai", "Gujarat": "Gandhinagar", "Telangana": "Hyderabad", "Karnataka": "Bangalore"}
numbers = {10: "Ten", 20: "Twenty", 30: "Thirty", 40: "Forty"}
marks = {"Savita": 67, "Ali": 88, "David": 78, "Laxman": 91}
print("States:", d1)
print("Number Words:", numbers)
print("Marks:", marks)

States: {'Maharashtra': 'Mumbai', 'Gujarat': 'Gandhinagar', 'Telangana': 'Hyderabad', 'Karnataka': 'Bangalore'}
Number Words: {10: 'Ten', 20: 'Twenty', 30: 'Thirty', 40: 'Forty'}
Marks: {'Savita': 67, 'Ali': 88, 'David': 78, 'Laxman': 91}

In [10]:
# Nested Dictionary
d1 = {"fruit": ["Mango", "Banana"], "flower": ["Rose", "Lotus"]}
print("Nested dict:", d1)

Nested dict: {'fruit': ['Mango', 'Banana'], 'flower': ['Rose', 'Lotus']}

In [11]:
# Creating dictionaries
d1 = dict()
d2 = {}
print("Empty dicts:", d1, d2)

d1 = dict(a=100, b=200)
d2 = dict(a='one', b='two')
print("Dict using constructor:", d1)
print("Another dict:", d2)

Empty dicts: {} {}
Dict using constructor: {'a': 100, 'b': 200}
Another dict: {'a': 'one', 'b': 'two'}

In [12]:
# Dictionary methods
numbers.update({50: "Fifty"})
print("Updated:", numbers)

print("Looping through dictionary:")
for x in numbers:
    print(x, ":", numbers[x])

Updated: {10: 'Ten', 20: 'Twenty', 30: 'Thirty', 40: 'Forty', 50: 'Fifty'}
Looping through dictionary:
10 : Ten
20 : Twenty
30 : Thirty
40 : Forty
50 : Fifty