Day 4

In [ ]:
# Importing Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:

# Version Check
print(pd.__version__)

2.2.2

In [ ]:
# Series in Pandas
ages = np.array([13,25,19])
series1 = pd.Series(ages)
print(series1)

series2 = pd.Series(ages, index=["Emma","Shweta","Sachin"])
print(series2)

0    13
1    25
2    19
dtype: int64
Emma      13
Shweta    25
Sachin    19
dtype: int64

In [ ]:
# DataFrame
df = pd.DataFrame([
    ['John Smith','123 Main Street', 34],
    ['Jane Dose', '456 Maple Avenue',28],
    ['Joey Daniels','789 Broadway', 51]
], columns=['Name','Address','Age'])
print(df)

           Name           Address  Age
0    John Smith   123 Main Street   34
1     Jane Dose  456 Maple Avenue   28
2  Joey Daniels      789 Broadway   51

In [ ]:
# Set index
print(df.set_index('Name'))

                       Address  Age
Name
John Smith     123 Main Street   34
Jane Dose     456 Maple Avenue   28
Joey Daniels      789 Broadway   51

In [ ]:
# New DataFrame Example
df = pd.DataFrame({
    "Name": [
        "Brad, Mr. Owen Harris",
        "Allen, Mr. William Henry",
        "Bonnell, Miss. Elizabeth"
    ],
    "Age": [22, 35, 58],
    "Gender": ["male", "male", "female"]
})
print(df)

                       Name  Age  Gender
0     Brad, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female